<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<!-- xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" layout:decorator="layout" -->
<!-- layout:decorator="layout" 引用布局页面-->
<head>
<title>首页-田国瑞的帝国时代</title>
<meta charset="utf-8" />
</head>



<body>
	<div id="container" style="width: 500px">
		<div id="header" style="background-color: #FFA500;">
			<h1 style="margin-bottom: 0;">主要的网页标题</h1>
		</div>
		<div id="menu"
			style="background-color: #FFD700; height: 200px; width: 100px; float: left;">
			菜单蛋56</div>
		<div id="content"
			style="background-color: #EEEEEE; height: 200px; width: 400px; float: left;">
			正文1</div>
		<div id="footer"
			style="background-color: #FFA500; clear: both; text-align: center;">
			脚步</div>
	</div>


</body>
</html>